
h1{text-align: center;
    padding: 50px;
   
     border: 5px solid black;
    color: white;background:
     red;}
        h2{font-size: 30px;
            width: fit-content;color:
  black;background-color: red;}
p{color: white ;}
img{display: block;margin-left:
     auto;margin-right: auto;}
     h3{color:white;
        font-size: 50px;
        text-align: center;
        padding: 20px;
        margin: 30px 100px;
    background-color: blue;}
        body{background-image: url(abc.jpg);
            height: 100vh;
            background-size: cover;
            background-position: center;}
            a:link, a:visited{
background-color: beige; color: red;

            }
            a:hover, a:active{ background-color:red; color: white;


            }
        

     